$purple: #4c3b6d;
$lightPurple: #604a88;
.form {
	background: #fff;
	border-radius: 10px;
	padding: 50px 100px;
}
.formRow {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.formIcon {
	max-width: 100px;
	margin-bottom: 10px;
}
.inputsArea {
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: space-between;
	width: 100%;
}
.inputsArea input {
	border: 1px solid #000;
	padding: 10px 15px;
	border-radius: 5px;
	width: 100%;
	transition: box-shadow 0.3s ease;
	&:hover {
		outline: none;
		border-color: $lightPurple;
		box-shadow: 0 0 5px $purple;
	}
}
.formContainer {
	max-width: 600px;
	margin: 0 auto;
}
.btnSubmit {
	margin-top: 10px;
	background: $lightPurple;
	padding: 10px 20px;
	border-radius: 20px;
	color: #fff;
	transition: 0.3s;
	&:hover {
		background: $purple;
	}
}
